SALARY PREDICTION

In [14]:
import pandas

In [15]:
dataset=pandas.read_csv("Salary_Data.csv")

In [20]:
dataset.head(5)

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [16]:
dataset.columns

Index(['YearsExperience', 'Salary'], dtype='object')

In [4]:
x = dataset["YearsExperience"]

In [5]:
y = dataset["Salary"]

In [6]:
x = x.values

In [7]:
x = x.reshape(-1,1)

In [8]:
from sklearn.linear_model import LinearRegression

In [9]:
model = LinearRegression()

In [10]:
model.fit(x,y)

LinearRegression()

In [11]:
model.predict([[9.3]])

array([113676.8497882])

In [12]:
import joblib

In [13]:
joblib.dump(model,"impdataset.pk")

['impdataset.pk']